.ProjectCard{
   box-sizing: border-box;
   width: 390px;
   
   background-color: var(--blockBackground);
   border: 1px solid var(--blockBorder);
   overflow: hidden;
   border-radius: 5px;
   margin: auto;
}

.img{
   width: 390px;
   height: 200px;
   object-fit: contain;
   background-color: rgba(0, 0, 0, 0.192);
}

.text{
   padding: 15px 20px;
   display: flex;
   flex-flow: column;
   gap: 10px;
}

.title{
   font-size: 2rem;
   
}

.technologies{
   display: flex;
   align-items: center;
   gap: 16px;
}

.technology{
   font-size: 1.6rem;
   padding: 1px 16px;
   border: 2px solid var(--highlightingColor);
   border-radius: 25px;
}

.link{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.6rem;

}

.details{
   cursor: pointer;
}

.linkImages{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.linkImg{
   display: flex;
   align-items: center;
   justify-content: center;
}
