.HomePages {
    display: flex;
    flex-flow: column;
    max-height: 800px;
    height: 800px;
    
    background:
        radial-gradient(rgba(11, 9, 10, .4), rgba(11, 9, 10, 1) 75%),
        url('/images/homeBackgroundImg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.greeting {
    margin: auto;
    align-self: center;
    justify-self: center;
    /* transform: translateY(-50%); */
}

.text {
    font-size: 6.4rem;
    font-weight: 700;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.highlighting {
    color: var(--highlightingColor);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.myResume,
.contactMe {
    width: 180px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid;
    font-size: 2rem;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;

    /* a {
        color: var(--colorText);
    } */
}

.myResume {
    background-color: var(--colorText);
    color: var(--highlightingColor);
    border: none;
    a {
        color: var(--highlightingColor);
    }
}