.title{
   font-size: 3.2rem;
   font-weight: 600;
   max-width: 150px;
}

.title::after{
   content: '';
   display: flex;
   width: 80%;
   height: 5px;
   background-color: var(--highlightingColor);
   margin-block: 25px 30px;
}

.text{
   font-size: 1.6rem;
   display: flex;
   flex-flow: column;
   gap: 15px;
   width: 570px;
}