.Skills{
   width: 100%;
   display: flex;
   align-items: start;
   justify-content: space-between;
}

.left,
.rigth{
   width: 650px
}

.title{
   font-size: 3.2rem;
   font-weight: 700;
   margin-bottom: 25px;
}

.backlight{
   color: var(--highlightingColor);
}

.canvas{
   margin: 50px 0 0 25px;
   position: relative;
   width: 490px;
   
   img{
      height: 445px;

   }
}

.canvas::before{
   content: '';
   display: flex;
   position: absolute;
   width: 18px;
   height: 18px;
   background-color: var(--highlightingColor);
   border-radius: 9999px;
   box-shadow: 0 0 10px 1px var(--highlightingColor);
   margin-right: 10px;
}

.canvas::after{
   content: '';
   display: flex;
   position: absolute;
   left: 0;
   top: 0;
   border: none;
   box-sizing: border-box;
   width: 2px;
   height: 400px;
   background-color: var(--highlightingColor);
   margin-left: 8px;
   margin-right: 20px;
}

.text{
   font-size: 1.6rem;
   width: 650px;
}

.sorting{
   display: flex;
   align-items: center;
   background-color: var(--blockBackground);
   border-radius: 10px;
   overflow: hidden;
   margin-bottom: 50px;
   width: 470px;
}

.chapter{
   font-size: 2rem;
   padding: 10px 20px;
   cursor: pointer;
   background-color: transparent;
   border: none;
   transition: background-color .2s ;
}

.chapter:hover{
   background-color: var(--highlightingColor);
}

.chapter.active{
   background-color: var(--highlightingColor);
}

.arrSkills{
   display: flex;
   flex-flow: wrap;
   gap: 25px;
}